<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assetripper.android"
    android:versionCode="1"
    android:versionName="2.0.0">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

    <!-- أذونات قراءة ألعاب Unity وكتابة المخرجات على الهاتف -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application 
        android:allowBackup="true" 
        android:label="AssetRipper" 
        android:supportsRtl="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true">
    </application>
</manifest>
